.banner {
    width: 100%; 
    height: 400px; 
    objectFit: cover;

    @media only screen and (max-width: 600px) {
        height: 200px;
        objectFit: contain;
    }
}

.area_carros {
    margin-top: 10px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;

    @media only screen and (max-width: 600px) {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}